body {
}

div.appointmentDiv {
	border: solid 2px;
	width: 800px;
	border-radius: 20px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-top: 5px;
}

div.attendLink {
	text-align: right;
	font-family: chowfun;
}

a.attendLink{
	border: solid 1px #ff6d00;
	padding: 3px;
	border-radius: 10px;
	text-decoration: none;
	color: #48a1be;
	background-color: #387896;
	text-shadow: 5px 5px 5px #000;
}

a.moreLink{
	border-right: solid 1px #ff6d00;
	border-bottom: solid 1px;
	padding: 2px;
	text-decoration: none;
	color: #ff6d00;
	text-shadow: 5px 5px 5px #000;
	border-radius: 50px;
	background-color: #48a1be;
}

div.appointmentDetailDiv {
	border-top: solid 2px;
	border-radius: 10px;
	padding: 10px;
	width: 700px;
}

/* Appoint detail items */
.appointmentDetailElement {
	font-family: oldnewspaper;
	width: 400px;
}

div.detailElement {
	width: 500px;
	overflow: hidden;
}

.appointmentDetailValue, .dateDetailValue {
	padding: 5px;
	margin-left: 30px;
}

img.appointmentDetailValue {
	height: 50px;
	margin-left: 30px;
}

/* Configuracion del encabezado.*/
img.header {
	border: solid 1px;
	height: 70px;
}
div.header {
	margin-left: 300px;
}

div.concept {
	border: solid 2px;
	border-radius: 25px;
	text-align: center;
	font-family: chowfun;
	transition: all 1s;
	-webkit-transition: all 1s;
	width: 200px;
	height: 100px;
}

div.concept:hover {
	width: 250px;
	height: 125px;
	padding-top: 25px;
}

div#sociologyDiv:hover {
	background-color: #c8fdec;
}

div#sociologyDiv {
	position: absolute;
	left: 100px;
	top: 300px;
	background-color: #fff1c9;
	-webkit-transform: rotate(1.5);
}

@font-face {
	font-family: chowfun;
	src: url('../fonts/chowfun.ttf');
}

@font-face {
	font-family: oldnewspaper;
	src: url('../fonts/oldnewspaper.ttf');
}